:root {
  --primary-bg-color: #182a59;
}

html {
  background-color: #fff;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

#container {
  background-color: var(--primary-bg-color);
  margin: 0 auto;
  padding: 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

#main {
  background-color: var(--primary-bg-color);
}

#main h2 {
  margin: 25px 0px;
}

#books {
  color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
}

#books > .book {
  background-color: #fff;
  padding: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  color: #000;
}

.button-div {
  display: flex;
  justify-content: right;
  gap: 10px;
  font-size: 14px;
  font-style: italic;
}

.remove,
.toggle {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.remove {
  background-color: rgb(200, 38, 38);
}

.toggle {
  background-color: rgb(42, 89, 176);
}

dialog {
  width: 40vw;
}

::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field > input {
  margin-top: 5px;
  border-radius: 4px;
  height: 30px;
  font-size: 1.4em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button {
  background: var(--primary-bg-color);
  border: 1px solid #fff;
  color: #fff;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
}

input[type="checkbox"] {
  align-self: flex-start;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
