html {
    background-color: #182a59;
    margin: 0;
}

body {
    margin: 0;
}

.container {
    background-color: #FFF;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

.main {
    background-color: #FFF;
}

.main h1 {
    margin: 0;
    padding: 25px;
}

dialog {}